{% extends 'mailing_app/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<div class="hero-wrap hero-wrap-2" style="background-image: url({% static 'media/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
          <div class="col-md-12 ftco-animate text-center mb-5">
            <h1 class="mb-3 bread">Home</h1>
          </div>
        </div>
      </div>
    </div>

<div class="container">

    <div class="row text-center justify-content-center align-items-center my-3">
        <h1 class="font-weight-normal w-100">Количество рассылок всего: {{ object_list.count }}</h1>
    </div>

    <div class="row text-center justify-content-center align-items-center my-3">
        <h2 class="card-title pricing-card-title w-100">Количество активных рассылок: {{ active_mailing_count }}</h2>
    </div>

    <div class="row text-center justify-content-center align-items-center my-3">
        <h3 class="fw-normal text-muted w-100">Количество наших любимых клиентов: {{ all_clients.count }}</h3>
        <a type="button" class="btn btn-secondary" href="{% url 'mailing_app:client_list' %}">К списку клиентов</a>
    </div>

    {% if user.is_authenticated %}
    <div class="row text-center justify-content-center align-items-center my-3">
        <a type="button" class="btn btn-info" href="{% url 'mailing_app:mailing_list' %}">Список рассылок</a>
    </div>
    {% endif %}
</div>

<div class="album py-5 bg-body-tertiary">
      <div class="container">
          <div class="row text-center justify-content-center align-items-center my-3">
            <h1 class="font-weight-normal w-100">Наши чудесные статьи</h1>
          </div>
        <div class="row justify-content-center align-items-center">
          {% for blog in blog_list %}
            <div class="col-4">
              <div class="card mb-4 box-shadow">
                <img class="img-thumbnail" src="{{ blog.preview|mediapath }}" alt="Generic placeholder image">
                <div class="card-body">
                  <h4 class="card-text text-center">{{ blog.name }}</h4>
                  <nav>
                    <a type="button" class="btn btn-success" href="{% url 'mailing_app:blog_single' blog.slug %}">Читать</a>
                  </nav>
                    <small class="text-body-secondary">Просмотров: {{blog.view_count }}</small>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
